[program:sisantri-worker]
process_name=%(program_name)s_%(process_num)02d
command=/usr/bin/php /var/www/sisantri/artisan queue:work database --sleep=3 --tries=3 --timeout=120
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=www-data
numprocs=1
redirect_stderr=true
stdout_logfile=/var/www/sisantri/storage/logs/worker.log
stopwaitsecs=3600
